<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Instructions</title>
    <link rel="stylesheet" href="/css/instructions.css">
</head>

<body>

    <style>
        .controls {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 550px;
        }

        .controls>svg {
            height: 200px;
        }
    </style>

    <div id="app">

        <header>
            <h1>How to play: <span>{{game.manifest.title}}</span></h1>
            <p>{{game.manifest.description}}</p>
        </header>
        <main class="controls">
            <p>{{errors}}</p>
            {{!-- <img src="button-layout.svg" alt="arcade box button layout"> --}}
            <svg id="Layer_1" data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1022 295.52">
                <defs>
                </defs>
                <title>button-layout</title>
                <path class="cls-1" d="M286.5,73.5a27,27,0,1,1,27-27A27,27,0,0,1,286.5,73.5Z"
                    transform="translate(-6 -2.48)" />
                <path
                    d="M286.5,20A26.5,26.5,0,1,1,260,46.5,26.53,26.53,0,0,1,286.5,20m0-1A27.5,27.5,0,1,0,314,46.5,27.5,27.5,0,0,0,286.5,19Z"
                    transform="translate(-6 -2.48)" />
                <path class="cls-2" d="M220.5,73.5a27,27,0,1,1,27-27A27,27,0,0,1,220.5,73.5Z"
                    transform="translate(-6 -2.48)" />
                <path
                    d="M220.5,20A26.5,26.5,0,1,1,194,46.5,26.53,26.53,0,0,1,220.5,20m0-1A27.5,27.5,0,1,0,248,46.5,27.5,27.5,0,0,0,220.5,19Z"
                    transform="translate(-6 -2.48)" />
                <path class="cls-3" d="M33.5,277.5a27,27,0,1,1,27-27A27,27,0,0,1,33.5,277.5Z"
                    transform="translate(-6 -2.48)" />
                <path
                    d="M33.5,224A26.5,26.5,0,1,1,7,250.5,26.53,26.53,0,0,1,33.5,224m0-1A27.5,27.5,0,1,0,61,250.5,27.5,27.5,0,0,0,33.5,223Z"
                    transform="translate(-6 -2.48)" />
                <path class="cls-4" d="M413.5,277.5a27,27,0,1,1,27-27A27,27,0,0,1,413.5,277.5Z"
                    transform="translate(-6 -2.48)" />
                <path
                    d="M413.5,224A26.5,26.5,0,1,1,387,250.5,26.53,26.53,0,0,1,413.5,224m0-1A27.5,27.5,0,1,0,441,250.5,27.5,27.5,0,0,0,413.5,223Z"
                    transform="translate(-6 -2.48)" />
                <path class="cls-1" d="M98.5,103.5a27,27,0,1,1,27-27A27,27,0,0,1,98.5,103.5Z"
                    transform="translate(-6 -2.48)" />
                <path
                    d="M98.5,50A26.5,26.5,0,1,1,72,76.5,26.53,26.53,0,0,1,98.5,50m0-1A27.5,27.5,0,1,0,126,76.5,27.5,27.5,0,0,0,98.5,49Z"
                    transform="translate(-6 -2.48)" />
                <path class="cls-2" d="M352.5,73.5a27,27,0,1,1,27-27A27,27,0,0,1,352.5,73.5Z"
                    transform="translate(-6 -2.48)" />
                <path
                    d="M352.5,20A26.5,26.5,0,1,1,326,46.5,26.53,26.53,0,0,1,352.5,20m0-1A27.5,27.5,0,1,0,380,46.5,27.5,27.5,0,0,0,352.5,19Z"
                    transform="translate(-6 -2.48)" />
                <path class="cls-1" d="M352.5,132.5a27,27,0,1,1,27-27A27,27,0,0,1,352.5,132.5Z"
                    transform="translate(-6 -2.48)" />
                <path
                    d="M352.5,79A26.5,26.5,0,1,1,326,105.5,26.53,26.53,0,0,1,352.5,79m0-1A27.5,27.5,0,1,0,380,105.5,27.5,27.5,0,0,0,352.5,78Z"
                    transform="translate(-6 -2.48)" />
                <path class="cls-1" d="M286.5,132.5a27,27,0,1,1,27-27A27,27,0,0,1,286.5,132.5Z"
                    transform="translate(-6 -2.48)" />
                <path
                    d="M286.5,79A26.5,26.5,0,1,1,260,105.5,26.53,26.53,0,0,1,286.5,79m0-1A27.5,27.5,0,1,0,314,105.5,27.5,27.5,0,0,0,286.5,78Z"
                    transform="translate(-6 -2.48)" />
                <path class="cls-1" d="M220.5,132.5a27,27,0,1,1,27-27A27,27,0,0,1,220.5,132.5Z"
                    transform="translate(-6 -2.48)" />
                <path
                    d="M220.5,79A26.5,26.5,0,1,1,194,105.5,26.53,26.53,0,0,1,220.5,79m0-1A27.5,27.5,0,1,0,248,105.5,27.5,27.5,0,0,0,220.5,78Z"
                    transform="translate(-6 -2.48)" />
                <path class="cls-1" d="M103.5,277.5a27,27,0,1,1,27-27A27,27,0,0,1,103.5,277.5Z"
                    transform="translate(-6 -2.48)" />
                <path
                    d="M103.5,224A26.5,26.5,0,1,1,77,250.5,26.53,26.53,0,0,1,103.5,224m0-1A27.5,27.5,0,1,0,131,250.5,27.5,27.5,0,0,0,103.5,223Z"
                    transform="translate(-6 -2.48)" />
                <path class="cls-4" d="M471.5,277.5a27,27,0,1,1,27-27A27,27,0,0,1,471.5,277.5Z"
                    transform="translate(-6 -2.48)" />
                <path
                    d="M471.5,224A26.5,26.5,0,1,1,445,250.5,26.53,26.53,0,0,1,471.5,224m0-1A27.5,27.5,0,1,0,499,250.5,27.5,27.5,0,0,0,471.5,223Z"
                    transform="translate(-6 -2.48)" />
                <path class="cls-1" d="M891.5,73.5a27,27,0,1,1,27-27A27,27,0,0,1,891.5,73.5Z"
                    transform="translate(-6 -2.48)" />
                <path
                    d="M891.5,20A26.5,26.5,0,1,1,865,46.5,26.53,26.53,0,0,1,891.5,20m0-1A27.5,27.5,0,1,0,919,46.5,27.5,27.5,0,0,0,891.5,19Z"
                    transform="translate(-6 -2.48)" />
                <path class="cls-2" d="M825.5,73.5a27,27,0,1,1,27-27A27,27,0,0,1,825.5,73.5Z"
                    transform="translate(-6 -2.48)" />
                <path
                    d="M825.5,20A26.5,26.5,0,1,1,799,46.5,26.53,26.53,0,0,1,825.5,20m0-1A27.5,27.5,0,1,0,853,46.5,27.5,27.5,0,0,0,825.5,19Z"
                    transform="translate(-6 -2.48)" />
                <path class="cls-3" d="M930.5,277.5a27,27,0,1,1,27-27A27,27,0,0,1,930.5,277.5Z"
                    transform="translate(-6 -2.48)" />
                <path
                    d="M930.5,224A26.5,26.5,0,1,1,904,250.5,26.53,26.53,0,0,1,930.5,224m0-1A27.5,27.5,0,1,0,958,250.5,27.5,27.5,0,0,0,930.5,223Z"
                    transform="translate(-6 -2.48)" />
                <path class="cls-2" d="M957.5,73.5a27,27,0,1,1,27-27A27,27,0,0,1,957.5,73.5Z"
                    transform="translate(-6 -2.48)" />
                <path
                    d="M957.5,20A26.5,26.5,0,1,1,931,46.5,26.53,26.53,0,0,1,957.5,20m0-1A27.5,27.5,0,1,0,985,46.5,27.5,27.5,0,0,0,957.5,19Z"
                    transform="translate(-6 -2.48)" />
                <path class="cls-1" d="M957.5,132.5a27,27,0,1,1,27-27A27,27,0,0,1,957.5,132.5Z"
                    transform="translate(-6 -2.48)" />
                <path
                    d="M957.5,79A26.5,26.5,0,1,1,931,105.5,26.53,26.53,0,0,1,957.5,79m0-1A27.5,27.5,0,1,0,985,105.5,27.5,27.5,0,0,0,957.5,78Z"
                    transform="translate(-6 -2.48)" />
                <path class="cls-1" d="M891.5,132.5a27,27,0,1,1,27-27A27,27,0,0,1,891.5,132.5Z"
                    transform="translate(-6 -2.48)" />
                <path
                    d="M891.5,79A26.5,26.5,0,1,1,865,105.5,26.53,26.53,0,0,1,891.5,79m0-1A27.5,27.5,0,1,0,919,105.5,27.5,27.5,0,0,0,891.5,78Z"
                    transform="translate(-6 -2.48)" />
                <path class="cls-1" d="M825.5,132.5a27,27,0,1,1,27-27A27,27,0,0,1,825.5,132.5Z"
                    transform="translate(-6 -2.48)" />
                <path
                    d="M825.5,79A26.5,26.5,0,1,1,799,105.5,26.53,26.53,0,0,1,825.5,79m0-1A27.5,27.5,0,1,0,853,105.5,27.5,27.5,0,0,0,825.5,78Z"
                    transform="translate(-6 -2.48)" />
                <path class="cls-1" d="M1000.5,277.5a27,27,0,1,1,27-27A27,27,0,0,1,1000.5,277.5Z"
                    transform="translate(-6 -2.48)" />
                <path
                    d="M1000.5,224A26.5,26.5,0,1,1,974,250.5a26.53,26.53,0,0,1,26.5-26.5m0-1a27.5,27.5,0,1,0,27.5,27.5,27.5,27.5,0,0,0-27.5-27.5Z"
                    transform="translate(-6 -2.48)" /><text class="cls-5"
                    transform="translate(201 151.04)">{{game.manifest.controls.buttons.p1-btn-4}}</text><text class="cls-5"
                    transform="translate(266 151.04)">{{game.manifest.controls.buttons.p1-btn-5}}</text><text class="cls-5"
                    transform="translate(332 151.04)">{{game.manifest.controls.buttons.p1-btn-6}}</text><text class="cls-5"
                    transform="translate(332 10.04)">{{game.manifest.controls.buttons.p1-btn-3}}</text><text class="cls-5"
                    transform="translate(266 10.04)">{{game.manifest.controls.buttons.p1-btn-2}}</text><text class="cls-5"
                    transform="translate(201 10.04)">{{game.manifest.controls.buttons.p1-btn-1}}</text><text class="cls-5"
                    transform="translate(32 75.04)">{{game.manifest.controls.buttons.p1-left}}</text><text class="cls-5"
                    transform="translate(78 116.04)">{{game.manifest.controls.buttons.p1-down}}</text><text class="cls-5"
                    transform="translate(79 37.04)">{{game.manifest.controls.buttons.p1-up}}</text><text class="cls-5"
                    transform="translate(125 75.04)">{{game.manifest.controls.buttons.p1-right}}</text><text class="cls-5"
                    transform="translate(13 289.04)">{{game.manifest.controls.buttons.p1-btn-white}}</text><text class="cls-5"
                    transform="translate(84 289.04)">{{game.manifest.controls.buttons.p1-btn-red}}</text><text class="cls-5"
                    transform="translate(394 289.04)">{{game.manifest.controls.buttons.p1-yellow}}</text><text class="cls-5"
                    transform="translate(452 289.04)">{{game.manifest.controls.buttons.p2-btn-yellow}}</text>
                <path class="cls-1" d="M712.5,99.5a27,27,0,1,1,27-27A27,27,0,0,1,712.5,99.5Z"
                    transform="translate(-6 -2.48)" />
                <path
                    d="M712.5,46A26.5,26.5,0,1,1,686,72.5,26.53,26.53,0,0,1,712.5,46m0-1A27.5,27.5,0,1,0,740,72.5,27.5,27.5,0,0,0,712.5,45Z"
                    transform="translate(-6 -2.48)" /><text class="cls-5"
                    transform="translate(646 71.04)">{{game.manifest.controls.buttons.p2-left}}</text><text class="cls-5"
                    transform="translate(692 112.04)">{{game.manifest.controls.buttons.p2-down}}</text><text class="cls-5"
                    transform="translate(693 33.04)">{{game.manifest.controls.buttons.p2-up}}</text><text class="cls-5"
                    transform="translate(739 71.04)">{{game.manifest.controls.buttons.p2-right}}</text><text class="cls-5"
                    transform="translate(806 10.04)">{{game.manifest.controls.buttons.p2-btn-1}}</text><text class="cls-5"
                    transform="translate(872 10.04)">{{game.manifest.controls.buttons.p2-btn-2}}</text><text class="cls-5"
                    transform="translate(939 10.04)">{{game.manifest.controls.buttons.p2-btn-3}}</text><text class="cls-5"
                    transform="translate(806 143.04)">{{game.manifest.controls.buttons.p2-btn-4}}</text><text class="cls-5"
                    transform="translate(869 143.04)">{{game.manifest.controls.buttons.p2-btn-5}}</text><text class="cls-5"
                    transform="translate(939 143.04)">{{game.manifest.controls.buttons.p2-btn-6}}</text><text class="cls-5"
                    transform="translate(910 289.04)">{{game.manifest.controls.buttons.p2-btn-white}}</text><text class="cls-5"
                    transform="translate(981 289.04)">{{game.manifest.controls.buttons.p2-btn-red}}</text>
            </svg>
        </main>
    </div>
</body>

<script>
    document.onkeypress = function (e) {
        e = e || window.event;
        var charCode = e.keyCode || e.which;
        var charStr = String.fromCharCode(charCode);

        // If one of the keys are pressed, redirect to the
        if (charStr == 'p' || charStr == 'b') {
            window.location.replace('{{ game.url }}');
        }
    };
</script>

</html>